<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf 3 + Spring 4 example</title>
    <meta charset="utf-8" />
    <style href="/css/common/bootstrap.min.css"/>
    <script href="/js/jquery-3.1.0.min.js"/>
    <script href="/js/bootstrap.min.js"/>
</head>
<body>
<h1>Thymeleaf 3 + Spring 4 example</h1>
<p>
  Please <a class="btn" href="login">login</a>
    <p th:text="#{email.social.registration.title}"></p>

</p>
</body>
</html>